@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
h1 {
    color: red;
    text-align: center;
    font-size: 64px;
    font-family: 'Anton', sans-serif;
}

body {
    background-image: linear-gradient(to left, #0B4D38, #1FCC95, #1BB382);
}