* {
    margin: 0;
    padding: 0;
}

#cabeçario {
    background-color: red;
    color: white;
    text-align: center;
}

 /*img {
    font-weight: 300px;
    height: 300px;
}*/

body {
    background-color: rgba(200, 255, 0, 0.72);
}

#imagem{
    height:100px;
    width: 100px;
}

#conteudo {
    background-color: aquamarine;
    height: 1000px;
    width:1000px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}


